<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Interview Invitation</title>

<style>

body {
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    padding:20px;
}

.container {
    background:white;
    padding:25px;
    border-radius:5px;
}

.details {
    background:#f8f8f8;
    padding:15px;
    border-radius:5px;
}

.footer {
    margin-top:20px;
    color:#777;
    font-size:12px;
}

</style>

</head>

<body>

<div class="container">

<p>
Dear {{first_name}},
</p>


<p>
You have been invited to participate as an external interviewer for:
</p>


<h3>
{{position_name}}
</h3>


<p>
Company:
<strong>{{client_name}}</strong>
</p>


<div class="details">


<p>
<strong>Applicant:</strong>
{{applicant_name}}
</p>


<p>
<strong>Interview Stage:</strong>
{{stage_name}}
</p>


<p>
<strong>Interview Type:</strong>
{{interview_type}}
</p>


<p>
<strong>Interview Round:</strong>
{{interview_round}}
</p>


<p>
<strong>Date:</strong>
{{invite_date_formatted}}
</p>


<p>
<strong>Time:</strong>
{{invite_time}}
</p>


<p>
<strong>Duration:</strong>
{{duration}}
</p>


<p>
<strong>Location:</strong>
{{location}}, {{country}}
</p>


<p>
<strong>Address:</strong>
{{address}}
</p>


{{#if online_link}}

<p>
<strong>Online Link:</strong>
<a href="{{online_link}}">
{{online_link}}
</a>
</p>

{{/if}}


</div>


<p>
{{message_body}}
</p>


<p>
Kind regards,<br>
<strong>eKazi Team</strong>
</p>


<div class="footer">

This email was sent from eKazi.co.tz. Please do not reply directly.

</div>


</div>

</body>

</html>